[contenteditable] {
  outline: 0px solid transparent;
}

#editor {
  box-sizing: border-box;
  font-size: 18px;
  width: 100%;
  height: 400px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid gray;
  font-family: monospace;
  font-size: 15px;
  color: darkolivegreen;
}

#editor:empty:before {
  content: attr(placeholder);
}

#actionButtons button {
  padding: 5px 8px;
  cursor: pointer;
  margin-left: 5px;
}
